body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(rgb(155, 62, 62), rgb(65, 41, 41), black) #0f172a;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: rgb(231, 94, 3);
}
h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgb(255, 217, 0);
}
p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}
img {
  width: 500px;
  border-radius: 10px;
}
.card {
  background: linear-gradient() #8b0505;
  padding: 20px;
  border-radius: 10px;
  max-width: 100000px;
  margin: auto;
}
/* NAVBAR */
nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  margin-bottom: 40px;
}

nav a {
  color: #fac295;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  margin-top: 40px;
}

nav a:hover {
  color: rgb(255, 255, 255);
}

.cardjogos {
  display: flex;
  align-items: left;
  margin-top: -300px;
  height: 600px;
}

.cardtexto {
  text-align: center;
  margin-left: auto;
  align-items: center;
  margin-bottom: 200px;
}

.Titulo {
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-align: center;
}
