body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(rgb(155, 62, 62), rgb(65, 41, 41), black) #0f172a;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: rgb(231, 94, 3);
}
h2 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgb(255, 217, 0);
}
p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}
img {
  width: 500px;
  border-radius: 10px;
}
.card {
  background: linear-gradient() #8b0505;
  padding: 20px;
  border-radius: 10px;
  max-width: 100000px;
  margin: auto;
}
/* NAVBAR */
nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  margin-bottom: 40px;
}

nav a {
  color: #d16914;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  margin-top: 40px;
}

nav a:hover {
  color: rgb(255, 255, 255);
}

.cardtexto {
  text-align: center;
  margin-left: auto;
  align-items: center;
  margin-bottom: 200px;
}

h3 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgb(255, 217, 0);
}

.cardjogos {
  width: 1000px;
  border-radius: 5px;
  margin-left: 70px;
}
.conteudo {
  display: flex;
  align-items: center;
  gap: 60px;
}

.texto {
  color: white;
  text-align: left;
  margin-left: -120px;
}
.texto h1 {
  color: #c41b04;
}

.texto h2 {
  color: #ffcc00;
}

.texto p {
  line-height: 1.6;
}

.jogosvorazes {
  background: linear-gradient(rgb(228, 198, 68), rgb(184, 115, 26), black)
    #0f172a;
}

.cardjogos2 {
  width: 250px;
  border-radius: 30px;
  margin-left: 200px;
  margin-bottom: 130px;
}

.texto2 {
  color: white;
  text-align: left;
  margin-bottom: 130px;
}

.texto2 h1 {
  color: #c41b04;
}

.texto2 h2 {
  color: #ffcc00;
}

/* PARÁGRAFO */
.texto2 p {
  line-height: 1.6;
}

.emchamas {
  background: linear-gradient(rgb(255, 171, 122), rgb(184, 44, 26), black)
    #0f172a;
}

.aesperanca {
  background: linear-gradient(rgb(133, 190, 255), rgb(71, 110, 218), black)
    #0f172a;
}

.cardjogos3 {
  width: 250px;
  border-radius: 30px;
  margin-left: 100px;
  margin-bottom: 130px;
}

.cardjogos4 {
  width: 250px;
  border-radius: 30px;
  margin-bottom: 130px;
}
